@model IMDB.Web.Models.MovieViewModel

@{
    ViewBag.Title = "EditMovie";
}

<div class="container">

    @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post, new { @class = "well form-horizontal", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Edit movie!</legend>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MovieId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="col-md-4 control-label">Movie Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        @Html.EditorFor(model => model.MoviesName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Movie name", @name = "yor" } })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Year of Release</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        @Html.EditorFor(model => model.YOR, new { htmlAttributes = new { @class = "form-control", @placeholder = "Year of release", @name = "yor" } })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Plot</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">

                        @Html.EditorFor(model => model.Plot, new { htmlAttributes = new { @class = "form-control", @placeholder = "Plot", @name = "yor" } })
                    </div>
                </div>
            </div>

            @if (Model.Poster != null)
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">Poster</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input type="file" id="fileUpload" name="fileUpload" size="23" accept="image/png, image/jpeg" />
                            <img src="@Model.Poster.Remove(0,1)" alt="image" class="img-thumbnail" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">Poster</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <input type="file" id="fileUpload" name="fileUpload" size="23" accept="image/png, image/jpeg" />
                            <img src="" alt="image" class="img-thumbnail" />
                            
                        </div>
                    </div>
                </div>
            }


            <div class="form-group">
                <label class="col-md-4 control-label">Producer</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.ProducerId, Model.Producers, "Select Producer", new { htmlAttributes = new { @class = "form-control selectpicker" } })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Select Actors</label>
                <button type="button" class="btn btn-info" id="addActor">
                    <span class="glyphicon glyphicon-plus-sign pull-right"></span> Add Actor
                </button>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        @if (Model.Actors?.Count > 0)
                        {

                            foreach (var item in Model.Actors)
                            {
                                <div class="checkbox">
                                    <label>
                                        @if (item.Selected)
                                        {
                                            <input type="checkbox"
                                                   name="SelectedActors"
                                                   checked
                                                   value="@item.Value" /> @item.Text
                                        }
                                        else
                                        {
                                            <input type="checkbox"
                                                   name="SelectedActors"
                                                   value="@item.Value" /> @item.Text
                                        }
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </fieldset>
    }
</div>
