@using IMDB.Web.CustomHtmlHelper;
@model IEnumerable<IMDB.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Get Movies";
}

<br />
<br />
@Html.ActionLink("Add New Movie", "AddMovie", "Movie", null, new { @class = "btn btn-success" })

<div style="padding:20px;">

</div>
@if (Model.Count() > 0)
{

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-inverse">
                        <thead>
                            <tr>
                                <th>Movie Name</th>
                                <th>Year Of Release</th>
                                <th>Plot</th>
                                <th>Poster</th>
                                <th>Producer</th>
                                <th>Actors</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MoviesName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.YOR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Plot)
                                    </td>
                                    @if (item.Poster != null)
                                    {
                                        <td>
                                            @Html.Image(item.Poster, "iamge");
                                            @*<img src='@Url.Content(item.Poster)' alt="image" class="img-thumbnail" />*@
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img src="" alt="No Image" class="img-thumbnail" />
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Producer)
                                    </td>
                                    <td>
                                        @foreach (var actor in item.Actors)
                                        {
                                            <p>@actor.Text</p><br />
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditMovie", "Movie", new { movieId = item.MovieId })">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="" data-id="@item.MovieId" class="itemToDelete"> <span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{   <div style="background-color: #F5F5DC; height: 170px;">
        <div style="padding:20px;">
            <h3>
                No Movies, You have not added any movies yet.
            </h3>
            <h4>
                Kindly add the movie and try again !
            </h4>
        </div>
    </div>
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            var item_to_delete;

            $(".itemToDelete").on('click', function onDelete(e) {
                e.preventDefault();
                $('#deleteModal').modal('toggle');
                item_to_delete = $(this).data('id');
                console.log(item_to_delete);
            });
            var url = '@Url.Action("DeleteMovie", "Movie")';
            $('#btnContinueDelete').click(function () {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { 'movieId' : item_to_delete},
                }).success(function () {
                    window.location = '@Url.Action("GetMovies", "Movie")'
                }).error(function () { })
            });
        })
    </script>

}